---
title: Add a Manifest File
owner: @mastertinner
---

<strong><%= modified_date %></strong>

It's tedious to keep having to specify the app name and other variables each time we push our app. That's where a `manifest.yml` file comes in handy. It holds all the configuration for our app so that Cloud Foundry will know what to do with it.

...

You can find more information about application manifests in the [documentation](../devguide/deploy-apps/manifest.html).

<div style="text-align:center">
  <a href="./scale.html" class="btn-primary">I've added a manifest</a>
</div>
